$third: 33.3333333%;
$cellPaddingTop: 8.5%;
$Xcolor: #357EC7;
$Ocolor: #C11B17;
$board-width: 500px;

.tttrow {
	height:$third;
	vertical-align: middle;
} 

.tttcell {
	text-align: center;
	padding-top:$cellPaddingTop;
	vertical-align: middle;
}

.win {
	font-size:2em;
}

.win.O {
	color:$Ocolor;
}

.win.X {
	color: $Xcolor;
}

.opponent-indicator {
	height:5px;
	width:100%;
	background-color: $Ocolor;
}

.opponent-indicator-anim {
	animation-duration: 1.5s;
	animation-name: expand;
	animation-timing-function: linear;
}

.hide {
	visibility: hidden;
}

@keyframes expand {
	from {
		width:0%;
	}

	to {
		width:100%;
	}
}

.gameboard {
	display:block;
	height:$board-width;
	width:$board-width;
	margin-right:auto;
	margin-left:auto;
	margin-top:40px;
	color:#666;

	table {
		height:100%;
		width:100%;
		border-spacing:10px;
		border-collapse:separate;
	}

	table tbody tr {
		td {
			min-width:50px;
			min-height:50px;
			text-align: center;
			vertical-align: middle;
			border-radius:4px;
			font-size:2em;
		}

		td.cell {
			background-color:#ccc;
		}
		td.cellX {
			background-color: $Xcolor; 
			color:#fff;
		}

		td.cellO {
			background-color: $Ocolor;
			color:#fff;
		}
	}

	.size-board-desc {
		margin-left:6px;
	}

	button.reset-btn {
		margin-top:4px;
	}
}

#start-game  {

	button {
		display:block;
		margin-top:8px;
	}

	.form-info {
		margin-left:10px;
		font-style: italic;
		font-size:.9em;
		color:#ccc;
	}
}

/**
 * Taken from purecss.io
 */ 
.button-success, .button-error, .button-warning, .button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}
